<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsd.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="com.hsd.model.Message">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sender" jdbcType="BIGINT" property="sender" />
    <result column="receiver" jdbcType="BIGINT" property="receiver" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_modified_by" jdbcType="BIGINT" property="lastModifiedBy" />
    <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="handle_result" jdbcType="INTEGER" property="handleResult" />
  </resultMap>

    <select id="findByReceiver" resultMap="BaseResultMap">
      SELECT *
      FROM hsd_message
      WHERE receiver = #{receiver} ORDER BY id DESC
    </select>
</mapper>